// Define variables for your color scheme

// Our custom colour scheme:
$strong-lavender: rgb(189, 128, 225);
$languid-lavender: #d5c6e0ff;
$blue-bell: #aaa1c8ff;
$purple-mountain-majesty: #967aa1ff;
$space-cadet: #192a51ff;
$deep-purple: #7a44e7;
$pink: #debaff;
