.participant_project-log-wrapper{
  margin: 5em;

  .participant_project-log{
    box-shadow: 15px 15px 1px #ffa580, 15px 15px 1px 2px black;
    border: black solid 2px;
    padding: 2em;
  }

  .participant_project-log-card{
    box-shadow: 15px 15px 1px #ffa580, 15px 15px 1px 2px black;
    border: black solid 2px;
    padding: 2em;
    margin: 2em;
  }

}
