.project-log-wrapper{
  margin: 0em;

  .project-log{
    box-shadow: 15px 15px 1px #ffa580, 15px 15px 1px 2px black;
    border: black solid 2px;
    background: #fffae6;

  }

  .project-log-card{
    // box-shadow: 15px 15px 1px #ffa580, 15px 15px 1px 2px black;
    // border: black solid 2px;
    padding: 1em;
    margin: 1em;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 3.5px solid black;
    border-bottom: 3.5px solid black;
    background: white;
  }

  .deleteprojectbutton{
    margin-top: 388px;
    margin-right: 152px;
    position: absolute;
    right: 10px;
    top: 5px;
  }

  .collab-names{
    font-size: 1.5em;
    display: inline-block;
  }


  .project-log-header{
    padding: 0em;
  }

  .project-log-card{
    padding: 3em;
  }

  .project-log-name{
    padding-bottom: 1em;
  }

  .participant_project-log-collabs{
    padding-top: 1em;

}

}
