.feed {
  max-width: 540px;
}

.text-small {
  font-size: 14px;
}

.description {
  height: 100px;
  word-break: break-word;
  overflow: hidden;
  font-size: 13px;
  line-height: 1.3;
  opacity: .7;
  margin-bottom: 0;
  display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}
.avatars img:not(:first-child){
  margin-left: -15px;
}


// .right-index-internal-card {

//   img {
//     height: 4em;
//     width: 4em;
//   }
// }


.collaborators {
  height: 100px;
}

.card-project {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.hidden-collaborators-count {
  font-size: 12px;
  margin-left: 3px;
}

.collab-title{
  margin-top: 0.5em;
}
