  <div class= "projectbelongdetails">
  <h2>Projects I am part of:</h2>
  <% @user.projects.each do |project| %>
        <%= project.name %>
        <%= project.description %>
        <%project.collaborators.each do |collaboration| %>
        <%= collaboration.first_name %>
      <%end %>
      <%end %>
  </div>
