<div class= "participant_project-log-wrapper">
  <div class= "participant_project-log">
  <h1 class="participanr_project-log-header">Collaborative Projects:</h1>
    <% @user.projects.each do |project| %>
    <div class= "participant_project-log-card">
      <h2 class="participant_project-log-name"><%= project.name %></h2>
        <h2 class="participant_project-log-description">Description: </h2>
        <h3><%= project.description %></h3>
        <div class = "removeparticipationprojectbutton">
            <%= link_to "Remove Collaboration", delete_project_path(current_user), class: "btn btn-lg btn-primary" %>
          </div>
        </div>
      <%end %>
  </div>
</div>
