<div class= "project-log-wrapper">
  <div class= "project-log">
  <h1 class="project-log-header">Collaborative Projects:</h1>
    <% @user.projects.each do |project| %>
    <div class= "project-log-card">
      <h2 class="project-log-name"><%= project.name %></h2>
        <h2 class="project-log-description">Description: </h2>
        <p><%= project.description %></p>
        <div class="chat-section">
            <%= link_to 'View Chat', chatroom_path(project.chatroom), class: "btn btn-lg btn-primary" %>
            </div>
        <h2 class="project-log-collabs">Collaborators:</h2>
          <% project.collaborators.each do |collaboration| %>
          <p class="collab-names"><%= collaboration.first_name %></p>
          <%end %>
        </div>
      <%end %>
  </div>
</div>
