<div class= "participant_project-log-wrapper">
  <div class= "participant_project-log">
    <% @user.projects.each do |project| %>
      <div class= "participant_project-log-card">
        Description: <%= project.description %>
        Name:<%= project.name %>
        </div>
      <%end %>
  </div>
</div>






