
<div class= "project-log-wrapper">
  <div class= "project-log">
    <% @user.owned_projects.each do |project| %>
      <div class= "project-log-card">
        Description: <%= project.description %>
        Name: <%= project.name %>
        </div>
      <%end %>
  </div>
</div>
