<div class= "project-log-wrapper">
  <div class= "project-log">
    <h1 class="project-log-header">Projects I own:</h1>
    <% @user.owned_projects.each do |project| %>
      <div class= "project-log-card">
        <h2 class="project-log-name"><%= project.name %></h2>
        <h2 class="project-log-description">Description: </h2>
        <h3><%= project.description %></h3>
        <div class = "deleteprojectbutton">
            <%= link_to "Delete Project", delete_project_path(current_user), class: "btn btn-lg btn-primary" %>
          </div>
        </div>
      <%end %>
  </div>
</div>
