<div class="h-full">
  <div class="panel" id = "new-project">
    <div class="double-border">
        <% @user.owned_projects.each do |project| %>
        <div class="project-log-card">
        Project Name: <%= project.name %>
        Project Description: <%= project.description %>
        <%project.collaborators.each do |collaboration| %>
        Project Collaborators: <%= collaboration.first_name %>
      <%end %>
      <%end %>
        </div>
    </div>
  </div>
</div>



</div>
