<div class="projectlogparticipant">
  <div class="panel" id="new-project">
    <div class="double-border">
      <p class="project-log-header">Project I Own Log:</p>
    </div>
  </div>



<div class="participant-project-card">
  <% @user.owned_projects.each do |project| %>
    <%= project.name %>
    <%= project.description %>
    <%project.collaborators.each do |collaboration| %>
    <%= collaboration.first_name %>
  <%end %>
  <%end %>
</div>


</div>
