<div class= "project-log-wrapper">
  <div class= "project-log">
    <h1 class="project-log-header">Projects I own:</h1>
    <% @user.owned_projects.each do |project| %>
      <div class= "project-log-card">
        <h2 class="project-log-name"><%= project.name %></h2>
        <h2 class="project-log-description">Description: </h2>
        <h3><%= project.description %></h3>
          <h2 class="participant_project-log-collabs">Collaborators:</h2>
          <%project.collaborators.each do |collaboration| %>
          <p class="collab-names"><%= collaboration.user.name %></p>
          <%end %>
        </div>
      <%end %>
  </div>
</div>





<%# <div class = "deleteprojectbutton">
<%= link_to "Delete Project", delete_project_path(current_user), class: "btn btn-lg btn-primary" %>
