<%= content_for(:navbar_class, "navbar-home") %>

<div class="banner">
  <div class="banner-content text-center text-white">
  <h1 class='header-primary'>Find a Team, Build your Dream.</h1>
  <p>DreamTeam brings creative people together to bring ideas to life.</p>
  <%= link_to "Discover Projects", projects_path, class: "btn btn-lg btn-primary" %>
  </div>
</div>
