  <%= content_for(:navbar_class, "navbar-home") %>

  <div class="banner">
    <div class="banner-content text-center text-white">
    <h1 class='header-primary'>Find a Team, Build your Dream.</h1>
    <p>Don't let the sun go down on a great idea.</p>
    <%= link_to "Discover Projects", projects_path, class: "btn btn-lg btn-primary" %>
    </div>
  </div>

  <div class='box'>
    <div class='wave -one'></div>
    <div class='wave -two'></div>
    <div class='wave -three'></div>
  </div>
