<div class = "banner">
  <div class = "banner-content text-center text-white">
  <h1>Find a Team, Build your Dream.</h2>
  <p>DreamTeam brings creative people together to bring ideas to life.</p>
  <%= link_to "Discover Projects", projects_path, class: "btn btn-lg btn-primary" %>
  </div>
</div>
