<div class="avatars d-flex align-items-center">
  <% collaborators.first(5).each do |collaborator| %>
    <% if collaborator.image.attached? %>
      <%= cl_image_tag collaborator.photo.key, class: 'avatar-bordered' %>
    <% else %>
      <img class="avatar-bordered" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" />
    <% end %>
  <% end %>

  <% if collaborators.count > 5 %>
  <div class="hidden-collaborators-count">
    + <%= collaborators.count - 5 %>
  </div>
  <% end %>
</div>
