</div>
  <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
      <% if @project.photos.present? %>
        <% @project.photos.each_with_index do |photo, index| %>
          <div class="carousel-item <%= index == 0 ? "active" : "" %>">
            <%= cl_image_tag photo.key, width: "540", height: "360", :gravity=>"auto", :quality=>"auto", :fetch_format=>:auto, :crop=>"fill" %>
          </div>
        <% end %>
      <% end %>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
<div class="mt-3">
