<div class="container d-flex justify-content-center">
  <div class="feed mt-4">
  <div class="container">
  <div class="row searchbar-wrapper", style= "margin-left :12px">
    <%= form_tag projects_path, method: :get, class: "d-flex justify-content-center" do %>
      <%= select_tag "Category", options_for_select(["Transport", "Education", "Healthcare", "Accountancy", "Sport", "Media", "Construction", "Marketing", "Charity", "Fashion", "Security", "Electronics", "Music"]), class: "form-control fs-6", style: "width:180px; min-height:40px; margin-right:5px", prompt:"Select Category"%>
    <% end %>
  </div>
</div>
    <%= render @projects %>
  </div>
</div>
