<section class="search-filter">

  <%= form_with url: projects_path, method: :get, class: "d-flex searchbar" do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find a project"
    %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>

  

</section>

<section class="projects-render">
  <%= render @projects %>
</section>
