<div class="container centered_container">
  <% @projects.each do |project| %>
    <div class="card w-100 border-success mb-3">
      <div class="card-header bg-transparent border-success"><%= project.name %></div>
      <div class="card-body text-success">
        <div class="d-flex flex-row">
          <div>
            <% if project.photo.attached? %>
              <%= cl_image_tag project.photo.key, height: 300, width: 400, crop: :fill %>
              <% end %>
          </div>
          <div class="d-flex flex-column">
            <div class="card-text p-2">
              <%= project.description %>
            </div>
            <div><%= link_to "see project", project_path(project) %></div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
