<section>
  <h1>Projects</h1>

</section>
  <div class="container vh-100">
    <div class="grid">
      <% @projects.each do |project| %>
          <div class="card" style="width: 18rem;">
              <div>
              <a href="<%=project_path(project)%>">
                <p class="card-title"><%= project.name %></p>
                <p class="card-title"><%= project.description %></p>
                </a>
              </div>
          </div>
      <% end %>
    </div>
  </div>
