.search-filter {
  display: flex;
  flex-direction: row;
  justify-content: right;
  margin: 2em;
  margin-right: 8em;
}

.searchbar {
  margin-right: 1em;
}
a {
  text-decoration: none !important;
}
.projects-render {
  margin-left: 7em;
  margin-right: 7em;
  text-decoration: none;
}

.project-index-wrapper {
  border: black solid 2px;
  box-shadow: 15px 15px 0px #ffa580, 15px 15px 1px 2px black;
  margin-left: 5em;
  margin-right: 5em;
  margin-bottom: 2.5em;
  padding: 3em;
  padding-top: 1.5em;
  background-color: white;
  text-decoration: none;

  .project-header {
    text-align: center;
    color: black;
    border: black solid 2px;
    background-color: rgb(255, 222, 170);
    text-decoration: none;
  }

  .index-card-internal {
    display: flex;
    color: black;
    flex-direction: row;
    text-decoration: none;
  }

  .info {
    display: flex;
    flex-direction: column;
    margin-left: 9em;
    margin-top: 2em;
    text-decoration: none;

    .index-desc {
      min-width: 20em;
      margin-right: 1em;
      text-decoration: none;
      font-size: 2em;
      text-align: center;
    }

    .right-index-internal-card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-decoration: none;
      margin-top: 1.5em;
    }

    .avatars{
      margin-top: 1em;
    }


  }
}
