.border-card{
  // border: 3px solid rgb(77, 24, 103);
  box-shadow: 6px 5px #404040;
}

.index-card-top {
  background-color: #ffa75e;
  // border-bottom: 4px black solid;
  font-family: "Rubik Microbe";
  font-weight:900;
  color: white;
}

#index-inner-card {
font-family: "Fjalla One";
background-color: rgb(255, 255, 255);
}
