@import url("https://fonts.googleapis.com/css?family=Fjalla+One&display=swap");

.double-border {
  background: #d3dbe5;
  padding: 50px 100px;
  border: 1px solid black;
  box-shadow: 15px 15px 1px #94c1ef, 15px 15px 1px 2px black;
}

.form-control {
  background-color: white;
}

#new-project {

  padding-left: 15em;
  padding-right: 15em;
  padding-top: 5em;
  background-color: white;
  height: max-content;

  .form-header {
    font-size: 1.5em;
    margin-bottom: 0.7em;
  }

  .input-erb {
    display: block;
    margin-bottom: 1em;
    width: 100%;
    font-size: 14pt;
    line-height: 28pt;
    font-family: "Fjalla One";
    border: none;
    border-top: 1px solid rgb(148,193,239);
    border-left: 1px solid rgb(148,193,239);
    border-right: 3.5px solid rgb(148,193,239);
    border-bottom: 3.5px solid rgb(148,193,239);
    background: white;
    min-width: 250px;
    padding-left: 5px;
    outline: none;
    color: black;
  }

  input:focus {
    border-bottom: 5px solid red;
  }

  button-erb {
    display: block;
    margin: 0 auto;
    line-height: 28pt;
    padding: 0 20px;
    // background: #aca3ff;
    letter-spacing: 2px;
    transition: 0.2s all ease-in-out;
    outline: none;
    // padding-bottom: 5em;
    // border: 1px solid black;
    // box-shadow: 3px 3px 1px 1px #95a4ff, 3px 3px 1px 2px black;
  }
  button-erb:hover {
    // background: black;
    color: white;
    // border: 1px solid black;
  }

  ::selection {
    background: white;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus {
    // border-bottom: 5px solid #95a4ff;
    // -webkit-text-fill-color: #2A293E;
    // -webkit-box-shadow: 0 0 0px 1000px #f8f4e5 inset;
    // transition: background-color 5000s ease-in-out 0s;
  }

}
