.project-show-wrapper {
  // margin: 5em;
  padding-left: 10em;
  padding-right: 10em;
  margin-top: 1.5em;


  .project-show-card {
    background: #ffffff;
    padding: 50px 100px;
    border: 2px solid black;
    box-sizing: content-box;
    box-shadow: 15px 15px 1px #b0ceff, 15px 15px 1px 2px black;
  }

  .big-title {
    display: block;
    font-size: 1.5em;
    font-weight: 800;
    background-color: #b0ceff;
    padding: 0.2em;
    // box-shadow: 6.5px 7.5px 0px -2px #52353599;
    border: black 2px solid;
    text-align: center;
    margin-bottom: 1em;
  }

  .pitch {
    border: black 2px solid;
    text-align: center;
    font-size: 1.5em;
    margin-top: 1em;
    padding: 1em;
    margin-bottom: 1em;
    font-weight: 800;
    text-align: top;
  }

  .image-description {
    display: flex;
    align-items: center;
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 1.5em;
    font-weight: 800;

    .descrip {
      overflow: scroll;
      text-align: center;
      padding: 1.5em;
      font-size: 0.8em;
    }

    .cara{
      vertical-align: middle;
      padding: 1.5em;
      flex-basis: 0;
      float: left;
    }
  }

  .team-info {
    margin-top: 0.5em;
    padding: 3.5em;
    border: black 2px solid;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .team-leader {
    margin-right: 2em;

    .owner-info {
      margin-top: 1em;
      text-align: center;
    }
  }

  .proj-lead {
    border: black 2px solid;
    text-align: center;
    padding: 0.1em;
  }

  .team-members {
    margin-right: 2em;
  }

  .team-mem{
    border: black 2px solid;
    text-align: center;
    padding: 0.1em;
  }

  .chat-section {
    text-align: center;
  }

  .chat-header {
    border: black 2px solid;
    padding: 0.2em;
  }
}
