.banner {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), image-url("background_homepage_image.jpg");

  h1 {
    font-weight: bold;
    font-size: 65px;
  }

  p {
    color: white;
    opacity: 0.8;
    font-size: 30px;
    font-weight: lighter;
    margin-bottom: 30px;
  }

  .btn {
    padding: 15px 50px;
}

}
