.navbar-lewagon {
  justify-content: space-between;
  box-shadow: 0 0 15px ;
  background-color: white
}

.navbar-brand {
  color:#1485e5;
  font-weight: bold;
  font-size: x-large;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  background-color: white;
  width: 100px;
  object-fit: cover;
}

.nav-link{
color: #1485e5;
font-weight: bold;
}

.navbar-dropdown-color a {
  color: #f489b5 !important;
}

// app/stylesheets/layout/_navbar.scss

.navbar-home {
  position: absolute;
  width: 100%;
  background: transparent;
  box-shadow: none;
  .navbar-wagon-link {
    color: #1485e5;
    font-weight: bold;
  }
}
