.navbar-lewagon {
  justify-content: space-between;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.navbar-lewagon a {
  color: black;
  text-decoration: none;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  background-color: white;
  width: 100px;
  object-fit: cover;
}

.navbar-dropdown-color a {
  color: black !important;
}

// app/stylesheets/layout/_navbar.scss

.navbar-home {
  position: absolute;
  width: 100%;
  background: transparent;
  box-shadow: none;
  .navbar-wagon-link {
    color: white;
    font-weight: bold;
  }
}
