.navbar {
  background-color: bisque;
  padding-left: 1.5em;
  justify-content: space-between;
}
.navbar-right{
  padding-right: 1.5em;
}

.navbar-lewagon {
  justify-items:left ;
  box-shadow: 0 0 15px ;
  background-color: rgb(255, 222, 170);
}

.navbar-brand {
  color:#000000;
  font-weight: bold;
  font-size: large;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  background-color: rgb(255, 230, 196);
  width: 100px;
  object-fit: cover;
}

.nav-link{
color: #1485e5;
font-weight: bold;
}

.navbar-dropdown-color a {
  color: #f489b5 !important;
}

// app/stylesheets/layout/_navbar.scss

.navbar-home {
  position: absolute;
  width: 100%;
  background: transparent;
  box-shadow: none;
  .navbar-wagon-link {
    color: #1485e5;
    font-weight: bold;
  }
}
